.typewriter {
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: blink-caret 0.75s step-end infinite;
  }
  
  .typewriter-text {
    display: inline-block;
    font-family: monospace;
    font-size: 1.5em;
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  